:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 5em 0 0 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.item {
  padding: 0.5em;
  background-color: #fb7185;
  font-weight: 700;
  color: var(--clr-light);
  border: 10px solid var(--clr-accent);
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 10px solid var(--clr-dark);
  display: grid;
  grid-template-rows: 100px 300px 100px ;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-areas: 
  'x x x'
  'main aside y'
  'footer footer footer';
    
}

.item-1{
  grid-area: x;

}

.item-2{
  grid-area: main;

}

.item-3{

  grid-area: aside;

}

.item-4{
  grid-area: y;

}


.item-5{
  grid-area: footer;

}



